/* @import url('./css/base.css'); */
/* @import url('./css/base1.css'); */
/* @import url('./css/base2.css'); */

.bg-orange {
    background: #E35205;
    color: white;
}

.footer_text {
    text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: bold;
}